<!------slidersection starts--------->
<section class="slider text-center" id="slider">
  <div class="slider-overlay">
    <div class="slider-content">
      <div class="icons">
        <i class="fa fa-apple"></i>
        <i class="fa fa-android"></i>
        <i class="fa fa-windows"></i>
      </div>
      <br>
      <div class="text"></div>
      <div class="cta-div">
        <a href="#contactarea" class="btn1">CONTACT US!</a>
        <a href="#testimonial" class="btn2" id="btn2">LEARN TODAY</a>
      </div>
      <br><br>
      <div class="social-networks">
        <a href="" class="fa fa-facebook"></a>
        <a href="" class="fa fa-twitter"></a>
        <a href="" class="fa fa-windows"></a>
        <a href="" class="fa fa-reddit"></a>
        <a href="" class="fa fa-linkedin"></a>
        <a href="" class="fa fa-cog"></a>
      </div>
    </div>
  </div>
</section>

<!---------slider section ends--------->