<div class="container">
  <nav class="navbar navbar-dark bg-primary" style="margin-bottom: -7px;">
    <div class="flex">
      <li style="padding-top: 10px; padding-left: 5px;"><a href="#" routerLink='' style="margin-right: 10px; padding-top: 10px;">Home</a></li>
      <li style="padding-top: 10px; padding-left: 5px;"><a href="#" routerLink='/login' style="margin-right: 10px; padding-top: 10px;">Login</a></li>
      <li style="padding-top: 10px; padding-left: 5px;"><a href="#" routerLink='/form' style="margin-right: 10px; padding-top: 10px;">Register</a></li>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>